header,
nav {
  position: fixed;
  width: 100%;
  background-color: var(--frame-color);
  text-align: center;
  box-shadow: var(--boxshadow-grey);
}

header {
  top: 0;
}

h1 {
  margin: 0.8rem;
}

nav {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

nav img {
  height: 2.5rem;
  margin: 0.7rem;
}
